.book-card-img{
  height: 14em;
  width: 10em;
}

.book-card-title{
  font-weight:bold;
  padding-left: 0;
  padding-right: 0;
}

.book-card-genre{
  font-style: italic;
}

.author-link{
  text-decoration: underline;
  cursor: pointer;
  color:#337AB7;
}

.pre-scrollable{
  max-height: 6em;
}

.add-book-btn{
  margin-bottom: 2em;
}
